.row-header {
  margin: 0 auto;
  padding: 0;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0;
  padding: 20px 0 20px 0;
  border: 0;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  background: #9575CD;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background-color: #512DA8;
}

.copyright {
  padding: 40px 0 35px 0;
}

.textbox {
  padding-left: 30px;
}

.to-be-adjust {
  padding-left: 15px;
}

.media-links {
  padding-top: 20px;
  font-size: 25px;
}

.reserve-button {
  padding: 5px 50px 5px 50px;
}

.reserve-button-div {
  padding: 50px 20px 30px 20px;
}

.promotion-sentence {
  padding-bottom: 50px;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}
